@model WikiGames.Models.ViewModel.ConsolaViewModel.ConsolaCreacionViewModel

@{
    ViewData["Title"] = "Editar Consola";
}


<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3>Editar Consola</h3>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="Edit" enctype="multipart/form-data" id="formulario">
                <input type="hidden" asp-for="ConsolaId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sb-2">
                    <label asp-for="ConsolaName" class="control-label"></label>
                    <input asp-for="ConsolaName" class="form-control" id="consolaName" placeholder="@Model.ConsolaName" />
                    <span class="text-danger" id="spanName"></span>
                </div>
                <div class="mw-parser-output">
                    <div class="row">
                        <div class="col-sm-7">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <textarea asp-for="Descripcion" class="form-control" rows="10" id="descripcion" placeholder="@Model.Descripcion"></textarea>
                            <span id="spanDescripcion" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4">
                            <table class="Infobox" cellpadding="2" cellspacing="2" align="right" style="font-family: verdana, sans-serif; padding: 4px; margin: 0 0 1em 1em; font-size: 10px; background-color: none; border:1px solid black;">
                                <tbody>
                                    <tr>
                                        <td align="center" colspan="2" bgcolor="gold" style="font-size:110%;">
                                            <i><b></b></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: center;">

                                            <img src="@Model.imgConsolas.ImagePath" alt="" decoding="async" width="343" height="183" id="output" />
                                            @* <input type="hidden" asp-for="imgConsolas.ImagePath"/>
                                            <input type="hidden" asp-for="imgConsolas.Nombre"/>*@

                                            <div>
                                                <input type="file" name="img" class="form-control" id="file" />
                                                <input type="hidden" asp-for="ImgConsolasId" />

                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <th style="background-color: gold;">Marca</th>
                                        <td>
                                            @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marcas, "Please select", new { @class = "form-control" })
                                            <span class="text-danger" id="spanMarcas"></span>

                                        </td>
                                    </tr>
                                    <tr class="hiddenStructure{{{Distribuidor}}}">
                                        <th style="background-color: gold;">Fecha de Lanzamiento</th>
                                        <td>

                                            <input asp-for="FechaLanzamiento" type="date" class="form-control" id="fechaLanzamiento" placeholder="@Model.FechaLanzamiento" />
                                            <span id="spanFechaLanzamiento" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr class="hiddenStructure{{{Distribuidor}}}">
                                        <th style="background-color: gold;">Fecha de Descontinuacion</th>
                                        <td>
                                            <input asp-for="Descontinuacion" type="date" class="form-control" id="descontinuacion" />
                                            <span class="text-danger" id="spanDescontinuacion"></span>
                                        </td>
                                    </tr>
                                    <tr class="hiddenStructure{{{Distribuidor}}}">
                                        <th style="background-color: gold;">Unidades Vendidas</th>
                                        <td>
                                            <input asp-for="UnidadesVendidas" class="form-control" id="unidadesVendidas" />
                                            <span id="spanUnidadesVendidas" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear Producto" class="btn btn-primary" id="btnCrearConsola" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
@*Validacion lado cliente*@
@section Scripts{

    @{
        <script src="~/js/ValidarFormularioConsolas.js" asp-append-version="true"></script>
        <script>

            $(function()
            {
                ValidarFormulario();
            })

        </script>
    }
    }

