@model IEnumerable<WikiGames.Models.ViewModel.JuegoViewModel.JuegosViewModel>

@{
	ViewData["Title"] = "Lista de Juegos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	@if (TempData["mensaje"] != null)
	{ 
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["mensaje"]
			<button type="button" class="close" data-dismiss="alert" arial-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
	<div class="row">
		<div class="col-sm-6">
			<h3>Lista de Juegos</h3>
		</div>
		<div class="col-sm-6">
			<a class="btn btn-success d-block" asp-action="Create" asp-controller="Juego">Agregar nuevo Juego</a>
		</div>
	</div>

	<div class="row">
		 <form method="get" action=@Url.Action("Index","Juego") >
			<div class="col-md-3">
				<label  class="control-label">Juego</label>
				@Html.TextBox("juegoName", null, new { placeholder = "Juego",
									@class = "form-control" })
			</div>
			<div class="col-md-3">
				<label class="control-label">Desarrolladora</label>
					@Html.DropDownList("DesarrolladoraId", (SelectList)ViewBag.Desarrolladores, "Please select", new { @class = "form-control" })
			</div>
			<div class="col-md-3">
				<label class="control-label">Generos</label>
				@Html.DropDownList("GeneroId", (SelectList)ViewBag.Generos, "Please select", new { @class = "form-control"})
			</div>
			<div class="col-md-3">
				<label class="control-label">Consolas</label>
				@Html.DropDownList("ConsolaId", (SelectList)ViewBag.Consolas, "Please select", new { @class = "form-control" })
			</div>
			<div class="col-md-3" >
				<label class="control-label">Modo de juego</label>
				@Html.DropDownList("ModoDeJuegoId", (SelectList)ViewBag.ModoJuegos, "Please select", new { @class = "form-control" })
			</div>
			<div class="col-md-3" >
					<button class="btn btn-primary" type="submit">Buscar</button>
			</div>
		 </form>
	</div>
	<div class="row">
		@if (Model.Count() > 0)
		{
			
			<table class="table table-bordered table-striped" id="tablaJuegos">
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Lanzamiento</td>
						<td>Desarrollador</td>
						<td>Publicador</td>
						<td>Acciones</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.JuegoName</td>
							<td>@item.FechaLanzamientoOficial</td>
							<td>@item.Desarrolladora.DesarrolladorName</td>
							<td>@item.Publicadora.PublicadoraNombre</td>

							<td>
								<a asp-controller="Juego" asp-action="AllInfo" asp-route-id="@item.JuegoId" class="btn btn-warning">Mas info</a>
						
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No hay registros</p>
		}
	</div>
</div>
